<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Basic Angular
      </h2>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Interpolation</a>
        </h2>
        <app-interpolation></app-interpolation>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Class Binding</a>
        </h2>
        <app-class-binding></app-class-binding>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Property Binding</a>
        </h2>
        <app-property-binding></app-property-binding>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Style Binding</a>
        </h2>
        <app-style-binding></app-style-binding>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Event Binding</a>
        </h2>
        <app-event-binding></app-event-binding>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Two Way Binding</a>
        </h2>
        <app-twoway-binding></app-twoway-binding>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Structural Directive</a>
          <br />
        </h2>
        <app-structural-directive></app-structural-directive>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Component Interaction</a>
        </h2>
        <app-component-interaction></app-component-interaction>
      </article>

      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <h2
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <a href="#">Pipes</a>
        </h2>
        <app-pipes></app-pipes>
      </article>
    </div>
  </div>
</section>
